@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}
.wave {
    position: absolute;
    top: 0;
    right: 30%;
}
nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;  
}
nav ul li{
    margin:0 5px;
}
nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
}
nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color: #C8EBB1;
    z-index: -1;
    transition: 0.5s;
}
nav ul a:hover:after{
    width: 100%;
}
.main-content {
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-pista ,.main-text{
    flex-basis: 50%;
}
.image-pista img{
    width: 100%;
}
.main-content h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #494234;
}
.main-content p{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.main-content button{
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #494234;
    color: white;
    cursor: pointer;
}
.swiper{
    width: 20rem;
}
.image-pista img,
.box .image img {
    border-radius: 10px; /* Adjust the value to your preference */
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    position: absolute;
    right: 8%;
    bottom: 20%;
}
.box{
    display: flex;
    align-items: center;
}
.right .box .image img{
    width: 70%;
}
.image{
    margin-top: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.image:hover{
    background-color: rgba(73,66,52,0.7);
}
.box .inner-box{
    margin: 1.5rem 0 0 1rem;
}
.box .inner-box p{
    font-size: 14px;
    font-weight: 500;
}
.social-links{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.social-links::before{
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    top:42%;
    left: -150px;
    background-color: #494234;
}
.social-links i{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #93C572;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.social-links i:hover{
    transform: translateY(-5px);
}


.card{
    
    border:none;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
figure {
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
}


/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}
/* Styles for the button */
.animated-button {
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
}

.animated-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.animated-button span:after {
    content: ' ►';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.animated-button:hover span {
    padding-right: 25px;
}

.animated-button:hover span:after {
    opacity: 1;
    right: 0;
}
